<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8a876">  <td>18/12/24 16:33:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.conditonalscreenshot(org.testng.ITestResult)[pri:0, instance:com.evs.flipkart.pages.Homepage@4cc0edeb]">&lt;&lt;conditonalscreenshot</td> 
<td>&nbsp;</td>  <td>main@237351678</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>18/12/24 16:26:07</td>   <td>-464773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Homepage.website()[pri:0, instance:com.evs.flipkart.pages.Homepage@4cc0edeb]">website</td> 
  <td>main@237351678</td>   <td></td> </tr>
</table>
